@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Roboto);

.ligne {
	color: blue;
}

.linkedin_acc_url {
	color: grey;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
}

#myContentArea {
	font-family: 'Roboto';
}


#presentation {
	margin-top: 100px;
}