@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.first_title {
	color: red;
}

.ligne {
	color: blue;
}

.linkedin_acc_url {
	color: grey;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: black;
}