@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.first_title {
	color: red;
}

.ligne {
	color: blue;
}

.linkedin_acc_url {
	color: grey;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}
